@use 'base/variables' as v;

.cargar{
    margin: 4rem 6rem 7.6rem 6rem;
    h2{
        font-family: v.$subtitulo;
        font-size: 2.2rem;
    }
}
.opciones{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 3rem;
    &-grid{
        margin: 0 3rem;
        font-family: v.$contenido;
        border: 1px solid v.$gris_;
        border-radius: 1rem;
        padding: 5rem;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        i{
            font-size: 10rem;
        }
        h1{
            padding-top: 4rem;
            font-size: 4.5rem;
        }
        &:hover{
            color: v.$turquesa;
            transform: scale(1.05);
            box-shadow: 1px 1px 10px v.$gris_;
        }
    }
}

/*FORMULARIO CARGAR DATOS Y MAPA*/
.cargar{
    margin: 4rem 8rem;
    h2{
        font-size: 3rem;
    }
}
.formulario-mapa-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 1.5rem;
}
.formulario{
    margin: 0 10rem 0 3rem;
    background-color: v.$gris_;
    padding: 2rem;
    border-radius: 2rem;

   input, select{
        font-size: 1.2rem;
        display: block;
    }
    input,select{
        font-family: v.$contenido2;
        width: 100%;
        border: 1px solid v.$turquesa;
        border-radius: .7rem;
        padding: .3rem 1rem;
    }
    label, button{
        font-family: v.$subtitulo;
        font-weight: 800;
    }
    label{
        text-transform: uppercase;
        font-size: 1.3rem;
    }
    button{
        width: 100%;
        margin-top: 1rem;
        padding: 1rem;
        border-radius: 2rem;
        background-color: v.$turquesa;
        color: v.$blanco;
        font-size: 2rem;
        border: none;
        transition: .4s ease;
        cursor: pointer;
        &:hover{
            background-color: v.$turquesa-claro;
        }
    }
}