@use 'base/variables' as v;

.barra-lateral{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: v.$grisOscuro;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;

    a{
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: v.$blanco;
        display: block;
        transition: 0.3s;
        font-family: v.$contenido;

        &:hover{
            color: v.$grisOscuro;
        }
    }

    .boton-cerrar{
        position: relative;        
        top: 2px;
        left: 150px;
        font-size: 36px;
        margin-left: 50px;
        &:hover{
            cursor:pointer;
        }
    }   
}

.boton-abrir{
    font-size: 30px;
    background-color: v.$negro;
    color: v.$blanco;
    border: none;
    position: absolute;
    top: 50px;
    left: 50px;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;

    &:hover{
        background-color: v.$grisOscuro;
    }
}

#main{
    transition: margin-left .3s;
    padding: 0;
}