@use 'base/variables' as v;

/* --------------------------------------- */
/* Estilos generales para carrusel        */
/* --------------------------------------- */
.carrusel-contenedor {
  margin: 2.5rem 4rem;
  position: relative;
}

.carrusel-titulo {
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 700;
  font-family: v.$subtitulo;
  cursor: default;

  &.clickeable {
    cursor: pointer;
    color: v.$negro;
    transition: text-decoration 0.3s ease;

    &:hover {
      text-decoration: underline;
    }
  }
}

.carrusel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1.5rem;
  padding: 1.5rem;
  padding-bottom: 1rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.carrusel::-webkit-scrollbar {
  display: none;
}

.lugar-card {
  font-family: v.$contenido2;
  width: 20rem;
  height: 20rem;
  background-color: v.$blanco;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  flex-shrink: 0;
  transition: transform .3s ease;
  cursor: pointer;
  &:hover{
    transform: scale(1.05);
  }
}


/* --------------------------------------- */
/* Flechas carrusel                       */
/* --------------------------------------- */
.flecha {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: v.$turquesa;
  border: none;
  color: v.$blanco;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
  user-select: none;
  z-index: 10;
  opacity: 0.8;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
  }

  &.izquierda {
    left: 0;
  }

  &.derecha {
    right: 0;
  }
}


/* --------------------------------------- */
/* Grid completo (para /lugares/filtrar/) */
/* --------------------------------------- */
.grid-lugares {
  margin: 2.5rem 6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

/* Reutiliza lugar-card pero adaptado a grid */
.grid-lugares .lugar-card {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  width: 30rem;
  height: 20rem;
  margin: 1rem 0;
  cursor: pointer;
  transition: transform .3s ease;
  &:hover{
    transform: scale(1.05);
  }
}
.contenido{
  &-titulo{
    font-family: v.$subtitulo;
    margin-left: 6rem;
    margin-top: 4rem;
    font-size: 2.2rem;
  }
}
