@use 'base/variables' as v;

.contenido{
    background-color: v.$blanco;
    text-align: center;
    .contenido__video{

        .informacion{
            padding:15rem 0 15rem 0;
            h1{
                font-family: v.$subtitulo;
                font-size: 2.5rem;               
                padding-bottom: 3rem;
            }
            a{
                font-family: v.$contenido2;
                text-decoration: none;
                background-color: v.$negro;
                color: v.$blanco;
                padding: 1rem;
                border-radius: 1rem;
                font-size: 1.5rem;
                text-transform: uppercase;
                font-weight: bold;
                &:hover{
                    background-color: v.$turquesa;
                    cursor: pointer;
                }
            }
        }
    }
}