//Variables para CSS
$titulo_: "Dancing Script", cursive;
$contenido: "Cal Sans", sans-serif;
$subtitulo: "Raleway", sans-serif;


//Colores
$grisClaro: #f0f0f0;
$blanco: #ffffff;
$negro: #000000;
$grisOscuro: #333333;
$turquesa: #5dc1b9;