//Variables para CSS
$titulo_: "Dancing Script", cursive;
$subtitulo: "Cal Sans", sans-serif;
$contenido: "Raleway", sans-serif;


//Colores
$azul: #A0B9D1;
$grisClaro: #f0f0f0;
$blanco: #ffffff;
$negro: #000000;
$grisOscuro: #333333;