body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

h1 {
  text-decoration: underline;
}

header {
  background-color: #3498db;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

footer {
  background-color: #3498db;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  margin-top: 20px;
}