{% extends "base.html" %}

{% block title %}Registrar Lugar{% endblock %}

{% block contenido %}
<section class="cargar">
  <h2>Formulario para registrar un hospedaje</h2>

  <div class="formulario-mapa-container">
    <div class="formulario" id="formulario-container">
        <form id="form-lugar">
            <label>Nombre
              <input type="text" name="nombre" id="nombre" required>
            </label><br>
          
            <label>Dirección
              <input type="text" name="direccion" id="direccion" required>
            </label><br>
          
            <label>Departamento
              <select name="departamento" id="departamento" required>
                <option value="">Seleccione un departamento</option>
              </select>
            </label><br>
          
            <label>Municipio
              <input type="text" name="municipio" id="municipio" required>
            </label><br>
          
            <label>Tipo
              <select name="tipo" id="tipo" required>
                <option value="hotel">Hotel</option>
                <option value="apartamento">Apartamento</option>
              </select>
            </label><br>
          
            <label>Precio (Q)
              <input type="number" name="precio" id="precio" min="0" step="0.01" required>
            </label><br>

            <label>Latitud
              <input type="number" name="latitud" id="latitud" step="any" required readonly>
            </label><br>
          
            <label>Longitud
              <input type="number" name="longitud" id="longitud" step="any" required readonly>
            </label><br>
          
            <button type="submit">Registrar lugar</button>
          </form>
          <div id="mensaje" style="margin-top: 10px; font-weight: bold;"></div>
        </div>
          
    <div id="mapa" style="width: 100%; height: 400px;"></div>
  </div>
</section>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/cargarh.js') }}"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPe0eVEKRRzjfZod6BLf7TQxRNxz51xTc&callback=initMap&libraries=places"
></script>
{% endblock %}
