{% extends "base.html" %}

{% block title %}Travel Map{% endblock %}

{% block contenido %}
<section class="cargar">
  <h2>¿De qué deseas convertirte en anfitrión?</h2>

  <div class="opciones">
    <div class="opciones-grid" id="opcion-lugar">
      <i class="fa-solid fa-location-dot"></i>
      <h1>Lugar</h1>
    </div>
    <div class="opciones-grid" id="opcion-hospedaje">
      <i class="fa-solid fa-hotel"></i>
      <h1>Hospedaje</h1>
    </div>
  </div>
</section>
{% endblock %}
{% block scripts %}
  <script>
    const urlCargarLugar = "{{ url_for('cargar_lugar') }}";
    const urlCargarHospedaje = "{{ url_for('cargar_hospedaje') }}";
  </script>
  <script src="{{ cargar }}"></script>
{% endblock %}