<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Final</title>
    <link rel="stylesheet" href="{{css_path}}">
</head>
<body>
    <header>
        <div class="contenedor">
            <nav class="enlaces">
                <a href="#">Inicio</a>
                <a href="">Ingresar</a>
            </nav>
            <h1 class="titulo">Este es el inicio de mi proyecto final</h1>
        </div>
    </header>
    <main>

    </main>
    <footer>
        
    </footer>
</body>
</html>
