<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Final</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Este es el inicio de mi proyecto final</h1>
    </header>
    <body>
        <p>Bienvenidoooooosss</p>
        <p>El proyecto consiste en una pagina web tipo airbnb que recomiende lugares y mejores rutas</p>
    </body>
    <footer>
        <h2>Programacion III. 2025</h2>
    </footer>
</body>
</html>