{% extends "base.html" %}

{% block title %}Lugares - Travel Map{% endblock %}

{% block contenido %}
  <section>
    <div class="contenido__destinos">
      <!-- Aquí va el contenedor general donde se crean los carruseles -->
      <div id="contenedor"></div>
      <div id="seccion-completa"></div>  <!-- nuevo contenedor para mostrar todo -->
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script src="{{ js_path }}"></script>
  <script src="{{ lugaresjs }}"></script>
{% endblock %}
