{% extends "base.html" %}

{% block title %}Lugares filtrados - Travel Map{% endblock %}

{% block contenido %}
  <section class="contenido">
    <h2 class="contenido-titulo">{{ tipo|title }}</h2>
    <div class="lista-lugares">
      {% if lugares %}
      <div class="grid-lugares">
        {% for lugar in lugares %}
        <a href="{{ url_for('lugar_detalle') }}?nombre={{ lugar.nombre | urlencode }}&presupuesto={{ presupuesto }}" class="lugar-link" style="text-decoration: none; color: black;">
          <div class="lugar-card" data-nombre="{{ lugar.nombre }}">
            <h3>{{ lugar.nombre }}</h3>
            <p>{{ lugar.direccion }}</p>
            <p>{{ lugar.municipio }} {{ lugar.departamento }}</p>
            <p>
              Calificación: 
              {% for i in range(1, 6) %}
                {% if lugar.calificacion >= i %}
                  <i class="fa-solid fa-star" style="color: gold;"></i>
                {% elif lugar.calificacion >= i - 0.5 %}
                  <i class="fa-solid fa-star-half-stroke" style="color: gold;"></i>
                {% else %}
                  <i class="fa-regular fa-star" style="color: gold;"></i>
                {% endif %}
              {% endfor %}
            </p>
            <p>
              Precio:
              {% if lugar.precio == 0 %}
                Gratis
              {% else %}
                Desde Q {{ lugar.precio }}
              {% endif %}
            </p>
          </div>
        </a>        
        {% endfor %}
      </div>
      {% else %}
        <p>No se encontraron lugares para este filtro.</p>
      {% endif %}
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script src="{{ lugarjs }}"></script>
  <script src="{{ js_path }}"></script>
  <script src="{{ detalle }}"></script>
{% endblock %}
